.header {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #c8943a;
  padding: 10px 20px;
  margin-bottom: 150px;
  border-radius: 10px;
}
.footer {
  text-align: center;
  background-color: #cb793e;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}
